.form-container {
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 40px 0;
    label {
      margin-bottom: 5px;
    }
    input {
      height: 50px;
      padding: 5px;
      margin-bottom: 20px;
      font-size: 18px;
      padding: 10px;
      border: none;
      box-shadow: 0 0 4px rgb(105, 105, 105);
      border-radius: 10px;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px black;
      }
      &:last-child {
        background-color: rgb(59, 121, 255);
        color: white;
        font-weight: 600;
      }
      &:not(:last-child):focus {
        background-color: #f8faa5;
      }
    }
    textarea {
      height: 60px;
      padding: 5px;
      margin-bottom: 20px;
      border: none;
      box-shadow: 0 0 4px rgb(105, 105, 105);
      border-radius: 10px;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px black;
      }
    }
  }
  .social-login {
    display: flex;
    justify-content: space-between;

    button {
      width: 240px;
      height: 50px;
      font-size: 16px;
      border-radius: 25px;
      border: none;
      color: white;
      font-weight: 600;
      &:focus {
        outline: none;
        box-shadow: 0 0 4px black;
      }
      i {
        margin-right: 7px;
      }
    }
    .social-login--github {
      background-color: rgb(114, 34, 146);
    }
    .social-login--facebook {
      background-color: #3b5998;
    }
  }
  .form-container__link {
    color: #3b5998;
  }
}
